body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(256,256,256);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(170,0,0,0.8);
  height: 10vh;
  color: white;
  font-size: 40px;
  font-family: "Bauhaus 93";
}

/*Container for the entire body minus header and footer*/
#container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
}

#innerContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
}


#combinationMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(256,256,256);
  height: 7vh;
}

#combinationButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:24.9%;
  background-color: rgb(0,0,0);
  height: 100%;
  padding:0;
  border:none;
}

#comboText{
  color:white;
  font-size: 15px;
  font-weight: bold;
  font-family: "Courier New", serif;
}

#combinationButton:active{
  background-color: rgb(256,256,256);
}

#combinationButton:active #comboText{
  color:black;
}

#combinationButton:hover{
  background-color: rgb(256,256,256);
}

#combinationButton:hover #comboText{
  color: black;
}

#mediaContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78vh;
  background-color: rgb(256,256,256);
}

#mediaPictureContainer{
  width:85%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(256,256,256);
}

#picFrame{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 85%;
}

#svgImage{
  width: 25%;
}

#mediaTextContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 30%;
  background-color: white;
  text-align: center;
}

#mediaText{
  font-size: 15px;
  font-family: "Courier New", serif;
  color: black;
}

#mediaAudioContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: white;
}

#mediaCategory{
  width: 15%;
  height: 85vh;
  background-color: rgb(170, 170, 170);
}

#categoryHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 7vh;
  background-color: rgb(0,0,0);
  color: white;
  font-family: "Courier New", serif;
  font-size: 20px;
}

#dropdownButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 7vh;
  background-color: rgba(170,0,0,0.8);
  color: white;
  font-family: "Courier New", serif;
  font-size: 20px;
  margin-top: 5px;
  padding:0;
  border:none;
  font-weight: bold;
}

#dropdownButton:hover{
  transition: 0.3s;
  background-color: rgb(206, 0, 0);
}

#Bilder, #Lyd, #Tekst{
  display:flex;
  flex-direction: column;
  width:auto;
  height: 18vh;
}

.categoryChoose{
  width:100%;
  height: 100%;
  background-color: rgb(220, 220, 220);
  border:none;
  font-size: 17px;
  font-family: "Courier New", serif;
  margin-top: 3px;

}

.categoryChoose:hover{
  transition: 0.3s;
  background-color: rgb(240, 240, 240);

}

footer{
  margin-top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  background-color: rgba(170,0,0,0.8);
}

/*----------------------------------------------------*/
/*Responsivt design for mobile enheter*/

@media screen and (orientation: portrait){
  #container{
    display: flex;
    flex-direction: column;
  }
  #mediaContainer{
    width: 100%;
  }

  #mediaCategory{
    width: 100%;
    height:10vh;
  }
}

/*-----------------------------------------------------*/