* {
  font-family: Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(256,256,256);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0c2517;
  height: 10vh;
  color: white;
  font-size: 40px;
}

/*Container for the entire body minus header and footer*/
#container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
}

#innerContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
}


#combinationMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(220, 220, 220);
  height: 7vh;
}

.combinationButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  background-color: rgb(0,0,0);
  height: 100%;
  padding:0;
  border: none;
}

.combinationButton:hover{
  background-color: rgb(256,256,256);
}

.combinationButton:hover .comboText{
  color: rgb(0,0,0);
}

.comboText{
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.comboTextSelected{
  font-size: 15px;
  font-weight: bold;
}

.combinationButtonSelected{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:25%;
  background-color: rgb(220, 220, 220);
  height: 100%;
  padding:0;
  border:none;
}


#mediaContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78vh;
  background-color: rgb(256,256,256);
}

#mediaPictureContainer{
  width:100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 220, 220);
  border-bottom: 4px solid rgb(170, 170, 170);
}

#picFrame{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(256, 256, 256);
  height:85%;
  width:100%;

}

#svgImage{
  width: 20%;
  min-width: 300px;
  overflow: hidden;
}

#mediaTextContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 20%;
  border-top: 4px solid rgb(170, 170, 170);
}

#mediaText{
  font-size: 20px;
  color: black;
}

#mediaAudioContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: white;
}

#mediaCategory{
  width: 15%;
  height: 85vh;
    background-color: rgb(170, 170, 170);
}

#categoryHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 7vh;
  background-color: rgb(20, 20, 20);
  color: white;
  font-size: 20px;
}

#categoryButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 7vh;
  background-color: #0c2517;
  color: white;
  font-size: 20px;
  margin-top: 5px;
  padding:0;
  border:none;
}

#Bilder, #Lyd, #Tekst{
  display:flex;
  flex-direction: column;
  width:auto;
  height: 18vh;
}

.categoryChoose{
  width: 100%;
  height: 100%;
  background-color: rgb(220, 220, 220);
  border:none;
  font-size: 17px;
  margin-top: 3px;

}

.categoryChoose:hover{
  transition: 0.3s;
    background-color: rgb(240, 240, 240);

}

footer{
  margin-top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  background-color: #0c2517;
}

footer > a {
  text-decoration: none;
  color: white;
}

/*----------------------------------------------------*/
/*Responsivt design for mobile enheter*/

@media screen and (orientation: portrait){
  #container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #mediaContainer {
    width: 100%;
  }

  #combinationButton {
    width: 25%;
  }

  /* hides "Kombinasjon + tabnumber " */
  #largeCombo {
    display: none;
  }

  /* displays "tabnumber" instead */
  #smallCombo {
    display: inline;
  }

  #mediaTextContainer {
    width: 80%;
  }

  #mediaText{
    font-size: 15px;
  }

  #mediaCategory {
    width: 100%;
    min-height:10vh;
  }

  footer {
    display: none;
  }
}

/*-----------------------------------------------------*/